@charset "utf-8";
/* CSS Document */
body{
	background-color:antiquewhite;
}

h1{
	color: saddlebrown;
	text-align: center
}
h2{
	color:sienna;
	text-align: center
}
h3{
	color:chocolate;
	text-align: center
}
h4{
	color:darksalmon;
	text-align: center
}
h5{
	color:palevioletred;
	text-align: center
}
h6{
	color:coral;
	text-align: center
}
a{
	text-decoration: none
}


p{color:saddlebrown;
text-align: right;
line-height: 2.8;
font-family: Times, "Times New Roman", "serif";
		
	
}
#firstparagraph {color:papayawhip;
	background-color: rosybrown;
text-align:left;
line-height: 3.9;
font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";}

#secondparagraph {color:lightpink;
	background-color:dimgrey;
text-align:left;
font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";}

.blue {color:chocolate;
text-align:left;
	
}
.red {color:hotpink;
text-align:left;
	
}

