@charset "utf-8";
/* CSS Document */
body{
	background-color:antiquewhite;
}

h1{
	color: saddlebrown;
	text-align: center
}
h2{
	color:sienna;
	text-align: center
}
h3{
	color:chocolate;
	text-align: center
}
h4{
	color:darksalmon;
	text-align: center
}
h5{
	color:palevioletred;
	text-align: center
}
h6{
	color:coral;
	text-align: center
}






p{
	color: saddlebrown;
	text-align: right
}